*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

:root {
    --fs-h1: 1.76rem;
    --fs-h2: 1.25rem;
    --fs-p: 1rem;
    --fs-xl: 2rem;
}

html {
    overflow-x: hidden;
}


body {
    background-color: #FAFAFA;
    position: relative;
}

h1 {
    font-size: var(--fs-h1);
}

h2 {
    font-size: var(--fs-h2);
}

h3 {
    font-size: var(--fs-p);
}

.backers {
    font-size: var(--fs-xl);
    font-weight: 900;
}

p {
    font-size: var(--fs-p);
    font-weight: var(--fw-light);
    color: var(--clr-Dark-gray);
    line-height: 1.7;
}

.hamburger {
    display: none;
}

.close-menu {
    display: none;
}


.header{
    background-image: url("./images/image-hero-desktop.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
    position: relative;
    z-index: 9;
}

.nav-center {
    display: flex;
    padding: 1em 1em;
    align-items: center;
    justify-content: space-around;
}

.primary-nav {
    display: flex;
}

li {
  padding: 0 1em; 
  list-style-type: none; 
}

li a {
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 1rem;
}

.hero {
    margin: 0 auto;
    max-width: 730px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: -7em;
    z-index: 99;
    position: relative;
    z-index: 10;
}

.content1{
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 1em;
    align-items: center;
    gap: 15px;
    border-radius: 1em;
    margin-top: 1em;
}

.mastercraft-logo{
    margin-top: -2.5em;
}

.mastercraft-title {
    font-weight: bolder;
}

.motto {
    color: #AEAEAE;
    text-align: center;
}

.action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1em 2em;
}

.supportBtn {
    background-color: #70C0B6;
    padding: 1em;
    border-radius: 2em;
    color: white;
    cursor: pointer;
    font-weight: 800;
    font-size: unset;
}

.supportBtn:hover, .rewardBtn:hover, .continue-btn:hover  {
    background-color: #157A74;
}

.bookmark-box {
    background: #f4f4f4;
    display: flex;
    align-items: center;
    border-radius: 1.5em;
    cursor: pointer;
}

.bookmark-click {
    background: #F4F8F9;
}


.bookmark-icon {
    width: 50px;
    border-radius: 8px;
}

.bookmarkBtn {
    padding: 13px;
    color: #888888;
    font-weight: 800;
}

.bookmark-btn-click {
    color: #498C87;
}

.content2 {
    background-color: white;
    border-radius: 1em;
    padding: 2em;
}

.top {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 1em;
}

.backed-number {
    border-right: 3px solid #E9E9E9;
    border-left: 3px solid #E9E9E9;
    padding: 0 3em;
    display: flex;
    flex-direction: column;
}

.backed-details, .backed-day {
    display: flex;
    flex-direction: column;
}

.backed {
    margin-top: .5em;
    color: #AEAEAE;
}

.progress-status {
    width: 100%;
    background-color: #f4f4f4;
    border-radius: 1em;
    margin: 2em 0;
}

.progress-bar {
    width: 75%;
    height: 15px;
    background-color: #3CB4AB;
    border-radius: 10px;
}

.content3 {
    background-color: white;
    border-radius: 1em;
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.words, .item-details {
    color: #AEAEAE;
}

.inner-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.items{
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 3px solid #E2E2E2;
    border-radius: 1em;
    padding: 1em;
}

.faded {
    filter: opacity(0.4);
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 3px solid #E2E2E2;
    border-radius: 1em;
    padding: 1em;
}

.rewardBtn-unset {
    background-color: #CBCBCB;
    padding:  16px 14px;
    color: white;
    border-radius: 2em;
    font-weight: 900;
    cursor: default;
    border: none;
}

.left-text {
    margin-left: 6px;
}

.item-title, .item-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pledge-amount {
    color: #70C0B6;
}

.item-info div {
    display: flex;
    align-items: center;
}

.item-info div span {
    color: #AEAEAE;
}

.rewardBtn {
    background-color: #70C0B6;
    padding: 16px 14px;
    color: white;
    border-radius: 2em;
    font-weight: 900;
    cursor: pointer;
    border: none;
}

.overlay {
    top: 0;
    left: 0;
    height: 100%;
    width: 100vw;
    display: grid;
    place-items: center;
    z-index: 15;
    position: absolute;
    background: rgb(157 168 177 / 50%);
    visibility: hidden;
}



.back-project-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 1em;
    position: absolute;
    top: 120px;
    left: 0;
    right: 0;
    z-index: 1200;
    padding: 31px 22.5px 5px;
    margin: 0 auto;
    background-color: white;
    max-width: 750px;
}


.open-modal  {
    visibility: visible;
    z-index: 20;
  } 

.backing-items{
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 3px solid #E2E2E2;
    border-radius: .5em;
}

.backing-items-hover  {
    border: 3px solid #6F9B9A;
    cursor: pointer;
}

.inner-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.close-modal {
    width: 15px;
    cursor: pointer;
}

.check-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 2em;
}

.no-reward {
    justify-content: left;
    gap: 10px;
}

.check-box-left-bar {
    display: flex;
    gap: 10px;
    align-items: center;
}

.check-box-right-bar {
    display: flex;
    gap: 10px;
    align-items: center;
}

.down {
    margin-left: 2.5em;
    margin-bottom: 0.8em;
    display: none;
}



.check-text:hover {
    color: #3CB4AB;
    cursor: pointer;
}

.close-icon-box {
    display: flex;
    flex-flow: row-reverse;
}

.check {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.check-none {
    width: 20px;
    height: 20px;
}

.pledge-enter-text, .dollar-sign {
    color: #888888;
}

.support-text {
    margin-left: 3em;
    color: #888888;
    margin-bottom: .8em;
    width: 88%;
}

.check-text-pledge {
    color: #70C0B6;
}

.enter-pledge {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 2em;
}

.enter-pledge-box {
    display: none;
}

.show-text .enter-pledge-box {
    display: block;
}

.number-box {
    display: flex;
    align-items: center;
    gap: 20px;
}

.number {
    border: 1px solid #3CB4AB;
    padding: .6em 1.4em .6em 1em;
    border-radius: 1.4em;
}

.money {
    border-right: 1px solid #8DA7A3;
    padding-right: .5em;
}

.pledge-name {
    display: flex;
    gap: 10px;
}

.continue-btn {
    background-color: #70C0B6;
    color: white;
    padding: .8em 1em;
    border-radius: 1.2em;
    border: none;
}

.thanks-icon {
    margin-bottom: 2em;
}

.thank-you-alert {
    background-color: white;
    max-width: 500px;
    padding: 4em 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 1em;
    margin-bottom: 25em;
}

.appreciation-text {
    text-align: center;
    color: #888888;
}

.done {
    padding: 1em 2em 1em 2em;
    border: none;
    color: white;
    background-color: #157A74;
    margin-top: 1em;
    border-radius: 2.4em;
    font-size: 0.9em;
    cursor: pointer;
}


.thanks-overlay {
    top: 0;
    left: 0;
    height: 100%;
    width: 100vw;
    display: grid;
    place-items: center;
    position: absolute;
    background: rgb(157 168 177 / 50%);
    visibility: hidden;
}

.open-thanks-overlay {
    visibility: visible;
    z-index: 15;
} 

@media only screen and (max-width: 880px) {
    :root {
        --fs-h1: 1.28rem;
        --fs-h2: 1.16rem;
        --fs-p: .91rem;
        --fs-xl: 1.5rem;
    }

    .header{
        background-image: url("./images/image-hero-mobile.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .hamburger{
        display: block;
        width: 27px;
        cursor: pointer;
    }

    .close-menu {
        display: none;
        width: 27px;
        cursor: pointer;
    }

    .show-close-nav-icon {
        display: block;
        cursor: pointer;
    }

    .close-icon {
        display: none;
    }

    .nav-links{
        padding: 1em;
        background: white;
        margin-top: 1em;
        border-radius: 0.7em;
        display: none;
    }
    
    .show-links {
        display: block;
    }

    .nav-center {
        margin: 0 auto;
        display: block;
    }

    li {
        padding: 0.8em 0em;
    }

    li a {
        color: black;
        padding: 1em 0;
    }

    .nav-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    nav {
        display: block;
        padding: 1em 1em;
    }

    .primary-nav {
        display: block;
    }

    .hero {
        width: 85%;
    }

    .mastercraft-title {
        text-align: center;
    }

    .back-project-section {
        width: 85%;
    }

    .check-box1 {
        padding: 1em 1em;
    }

    .up {
        display: none;
    }

    .down {
        display: flex;
    }

}


@media only screen and (max-width: 520px) {
    :root {
        --fs-h1: 1rem;
        --fs-h2: .9rem;
        --fs-p: .7rem;
        --fs-xl: 1.3rem;
    }


    .bookmarkBtn {
        display: none;
    }

    .supportBtn {
        flex: 2;
        text-align: center;
    }

    main {
        padding: 0 24px;
    }

    .top {
        display: block;
        text-align: center;
    }

    .motto {
        text-align: center;
    }

    .action {
        padding: 1em 0em;
        gap: 15px;
    }

    .thank-you-alert {
        padding: 1em 1em;
        margin: 1em;
    }

    .thank-you-alert h1 {
        text-align: center;
        font-size: 1.6em;
    }

    .backed-number {
        border-right: none;
        border-left: none;
        padding: 1em 0;
    }

    .item-title, .item-info {
        display: block;
    }

    .pledge-amount {
        margin-top: 0.5em;
    }

    .rewardBtn {
        margin-top: 1em;
    }

    .support-text {
        width: 100%;
    }

    .check-box {
        display: block;
    }

    .check-box-right-bar {
        margin-left: 2em;
        margin-top: 0.5em;
    }

    .check-box {
        padding: 0.5em 0.5em;
    }

    .support-text {
        margin-left: 2em;
    }
    

    .enter-pledge {
        display: block;
        padding: 1em 1em;
    }

    .number {
        padding: 0.8em;
    }

    .pledge-enter-text {
        text-align: center;
        margin-bottom: 1em;
    }

    .number-box {
        justify-content: space-between;
    }

    .support-text {
        width: 80%;
    }

    .no-reward {
        display: flex;
    }

    .pledge-name {
        display: block;
    }

    .rewardBtn-unset, .rewardBtn {
        font-size: .7rem;
    }

}

@media only screen and (max-width: 375px) {
    :root {
        --fs-xl: 1.31rem;
        --fs-h1: 1.185rem;
        --fs-h2: .925rem;
        --fs-p: .81rem;
        --fs-a: .83rem;
    }

    .supportBtn {
        padding: .5em;
        font-size: .7rem;
    }

    .back-project-section {
        margin: 0px 18px;
    }
}

@media only screen and (max-width: 375px) {
    .back-project-section {
        margin: 0px 11px;
    }
}






















